<?php require('app/Views/Public/head.html'); ?>

<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><?= $searchedTask->id() ?></td>
            <td><?= $searchedTask->title() ?></td>
            <td><?= $searchedTask->createdAt() ?></td>
        </tr>

        </tbody>
    </table>


    <br><br>
    <form method="post" action="delete">
        <input type="hidden" name="id" value="<?=$searchedTask->id() ?>">
        <input type="submit" value="delete" name="delete" class="btn btn-dark"/>
    </form>

</div>
</body>
</html>